.change
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(216, 96, 48);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.change:hover
{
    color: #fff;
    background: rgb(216, 96, 48);
    box-shadow: 0 0 5px rgb(216, 96, 48),0 0 0px rgb(216, 96, 48),0 0 20px rgb(216, 96, 48);
    transition-delay: 1s;
    text-decoration: none;
} 
.change span
{
    position: absolute;
    display: block;
}
.change span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(216, 96, 48)) ;
} 
.change:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}
.change span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(216, 96, 48)) ;
} 
.change:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.change span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(216, 96, 48)) ;
} 
.change:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.change span:nth-child(4)
{
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(216, 96, 48)) ;
} 
.change:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}