
.card
{
    position: relative;
    max-width: 300px;
    height: 500px;
    margin: 30px 10px;
    padding: 20px 15px;
    background: transparent;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    justify-content: center;
    left: 20%;
}
.card:hover
{
    background: #fff;
    height: 500px;
}
.card .imgbx
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -20px;
    z-index: 1;
    justify-content: center;
}
.card .imgbx img
{
    max-width: 100%;
}
.card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
 .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay:0.3s ;
}